[Unit]
Description=Scraplet Service
After=docker.service fleet.service network-online.target
Requires=docker.service fleet.service network-online.target

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Environment="JAVA_OPTS=-Xmx1G -Xms512M -server -XX:+AggressiveOpts -Dspring.profiles.active=production"
ExecStartPre=-/usr/bin/docker login -u scrapsh+deploy -p O3KGEK7P1LXOB7UZBYP4TNH5OOHKDIHWIWIKOPO52Q1AIY9WGYUHDT2J90RAPAJX -e docker@scrap.sh quay.io
ExecStartPre=-/usr/bin/docker kill scraplet
ExecStartPre=-/usr/bin/docker rm scraplet
ExecStartPre=/usr/bin/docker pull quay.io/scrapsh/scraplet
ExecStart=/usr/bin/docker run --name scraplet \
    --net=host -e JAVA_OPTS=${JAVA_OPTS} \
    --log-driver=awslogs --log-opt awslogs-region=us-west-2 \
    --log-opt awslogs-group=scraplet \
    quay.io/scrapsh/scraplet
ExecStop=/usr/bin/docker stop scraplet

[X-Fleet]
Global=true
