[Unit]
Description=Scraplet Service
After=docker.service
Requires=docker.service
Requires=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
User=core
EnvironmentFile=/etc/environment
Environment="JAVA_OPTS=-Xmx1G -Xms512M -server -XX:+AggressiveOpts -Dspring.profiles.active=production"
ExecStartPre=-/usr/bin/docker kill scraplet
ExecStartPre=-/usr/bin/docker rm scraplet
ExecStartPre=/usr/bin/docker pull 700122456994.dkr.ecr.us-east-1.amazonaws.com/scraplet
ExecStart=/usr/bin/docker run --name scraplet \
    --net=host -e JAVA_OPTS=${JAVA_OPTS} \
    700122456994.dkr.ecr.us-east-1.amazonaws.com/scraplet
ExecStop=/usr/bin/docker stop scraplet

[X-Fleet]
Global=true